<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.myViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>99</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Classes/API/BaseApiClient.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>API</string>
			</array>
			<key>Path</key>
			<string>Classes/API/BaseApiClient.h</string>
		</dict>
		<key>Classes/API/BaseApiClient.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>API</string>
			</array>
			<key>Path</key>
			<string>Classes/API/BaseApiClient.m</string>
		</dict>
		<key>Classes/Constant/GlobalConstant.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Constant</string>
			</array>
			<key>Path</key>
			<string>Classes/Constant/GlobalConstant.h</string>
		</dict>
		<key>Classes/Controllers/Main/BaseViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Controllers</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>Classes/Controllers/Main/BaseViewController.h</string>
		</dict>
		<key>Classes/Controllers/Main/BaseViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Controllers</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>Classes/Controllers/Main/BaseViewController.m</string>
		</dict>
		<key>Classes/Extensions/Extensions_README.md</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Extensions</string>
			</array>
			<key>Path</key>
			<string>Classes/Extensions/Extensions_README.md</string>
		</dict>
		<key>Classes/Helpers/BaseHelper.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Helpers</string>
			</array>
			<key>Path</key>
			<string>Classes/Helpers/BaseHelper.h</string>
		</dict>
		<key>Classes/Helpers/BaseHelper.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Helpers</string>
			</array>
			<key>Path</key>
			<string>Classes/Helpers/BaseHelper.m</string>
		</dict>
		<key>Classes/Models/BaseObject.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Models</string>
			</array>
			<key>Path</key>
			<string>Classes/Models/BaseObject.h</string>
		</dict>
		<key>Classes/Models/BaseObject.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Models</string>
			</array>
			<key>Path</key>
			<string>Classes/Models/BaseObject.m</string>
		</dict>
		<key>Classes/View/CollectionViewCell/BaseCollectionViewCell.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>CollectionViewCell</string>
			</array>
			<key>Path</key>
			<string>Classes/View/CollectionViewCell/BaseCollectionViewCell.h</string>
		</dict>
		<key>Classes/View/CollectionViewCell/BaseCollectionViewCell.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>CollectionViewCell</string>
			</array>
			<key>Path</key>
			<string>Classes/View/CollectionViewCell/BaseCollectionViewCell.m</string>
		</dict>
		<key>Classes/View/CustomView/BaseCustomView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>CustomView</string>
			</array>
			<key>Path</key>
			<string>Classes/View/CustomView/BaseCustomView.h</string>
		</dict>
		<key>Classes/View/CustomView/BaseCustomView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>CustomView</string>
			</array>
			<key>Path</key>
			<string>Classes/View/CustomView/BaseCustomView.m</string>
		</dict>
		<key>Classes/View/HeaderFooterView/BaseTableViewHeaderFooterView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>HeaderFooterView</string>
			</array>
			<key>Path</key>
			<string>Classes/View/HeaderFooterView/BaseTableViewHeaderFooterView.h</string>
		</dict>
		<key>Classes/View/HeaderFooterView/BaseTableViewHeaderFooterView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>HeaderFooterView</string>
			</array>
			<key>Path</key>
			<string>Classes/View/HeaderFooterView/BaseTableViewHeaderFooterView.m</string>
		</dict>
		<key>Classes/View/Layout/BaseLayout.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>Layout</string>
			</array>
			<key>Path</key>
			<string>Classes/View/Layout/BaseLayout.h</string>
		</dict>
		<key>Classes/View/Layout/BaseLayout.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>Layout</string>
			</array>
			<key>Path</key>
			<string>Classes/View/Layout/BaseLayout.m</string>
		</dict>
		<key>Classes/View/Subview/BaseSubview.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>Subview</string>
			</array>
			<key>Path</key>
			<string>Classes/View/Subview/BaseSubview.h</string>
		</dict>
		<key>Classes/View/Subview/BaseSubview.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>Subview</string>
			</array>
			<key>Path</key>
			<string>Classes/View/Subview/BaseSubview.m</string>
		</dict>
		<key>Classes/View/TableViewCell/BaseTableViewCell.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>TableViewCell</string>
			</array>
			<key>Path</key>
			<string>Classes/View/TableViewCell/BaseTableViewCell.h</string>
		</dict>
		<key>Classes/View/TableViewCell/BaseTableViewCell.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>View</string>
				<string>TableViewCell</string>
			</array>
			<key>Path</key>
			<string>Classes/View/TableViewCell/BaseTableViewCell.m</string>
		</dict>
		<key>Resources/Audio/notification.wav</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Audio</string>
			</array>
			<key>Path</key>
			<string>Resources/Audio/notification.wav</string>
		</dict>
		<key>Resources/Images/logo@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Images</string>
			</array>
			<key>Path</key>
			<string>Resources/Images/logo@2x.png</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Classes/API/BaseApiClient.h</string>
		<string>Classes/API/BaseApiClient.m</string>
		<string>Classes/Constant/GlobalConstant.h</string>
		<string>Classes/Controllers/Main/BaseViewController.h</string>
		<string>Classes/Controllers/Main/BaseViewController.m</string>
		<string>Classes/Extensions/Extensions_README.md</string>
		<string>Classes/Helpers/BaseHelper.h</string>
		<string>Classes/Helpers/BaseHelper.m</string>
		<string>Classes/Models/BaseObject.h</string>
		<string>Classes/Models/BaseObject.m</string>
		<string>Classes/View/CollectionViewCell/BaseCollectionViewCell.h</string>
		<string>Classes/View/CollectionViewCell/BaseCollectionViewCell.m</string>
		<string>Classes/View/CustomView/BaseCustomView.h</string>
		<string>Classes/View/CustomView/BaseCustomView.m</string>
		<string>Classes/View/HeaderFooterView/BaseTableViewHeaderFooterView.h</string>
		<string>Classes/View/HeaderFooterView/BaseTableViewHeaderFooterView.m</string>
		<string>Classes/View/Layout/BaseLayout.h</string>
		<string>Classes/View/Layout/BaseLayout.m</string>
		<string>Classes/View/Subview/BaseSubview.h</string>
		<string>Classes/View/Subview/BaseSubview.m</string>
		<string>Classes/View/TableViewCell/BaseTableViewCell.h</string>
		<string>Classes/View/TableViewCell/BaseTableViewCell.m</string>
		<string>Resources/Audio/notification.wav</string>
		<string>Resources/Images/logo@2x.png</string>
	</array>
</dict>
</plist>
